{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/carrito.css' %}">
<link rel="icon" type="image/png" href="{% static 'img/icons8_greenhouse_50px.png' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/funciones.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Carrito de compras</h1>
<section id="catalogo">
    <table class="cart-table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Detalle</th>
                <th>Imagen</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in carro %}
                <tr>
                    <td>{{ item.0 }}<td>
                    <td>{{ item.1 }}<td>
                    <td><img src="{{ item.2 }}" alt=""></td>
                    <td>{{ item.3 }}<td>
                    <td>{{ item.4 }}<td>
                    <td>{{ item.5 }}<td>
                    <td>
                        <a href="{% url 'droptocar' item.0 %}">
                            <img src="{% static 'img/icons8_eraser_30px.png' %}" alt="">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% if not carro %}
<h2 style="width: 100%; text-align: center; margin: 30px;">Tu carrito está vacío!</h2>
{% else %} 
<div class="comprar">
    <a href="{% url 'comprar' %}">Comprar</a>
</div>
{% endif %}
{% endblock %}