{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/carrito.css' %}">
<link rel="icon" type="image/png" href="{% static 'img/icons8_greenhouse_50px.png' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/funciones.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Descripción de Compras</h1>
<section id="catalogo">
    <table class="cart-table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in detalle %}
                <tr>
                    <td>{{ item.producto }}<td>
                    <td>{{ item.cantidad }}<td>
                    <td>{{ item.precio }}<td>
                    <td><a href="{% url 'historial'%}" class="custom-button">Historial</a><td> 
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}