{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/carrito.css' %}">
<link rel="icon" type="image/png" href="{% static 'img/icons8_greenhouse_50px.png' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/funciones.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Historial de Compras</h1>
<section id="catalogo">
    <table class="cart-table">
        <thead>
            <tr>
                <th>id</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Estado</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in compras %}
                <tr>
                    <td>{{ item.id }}<td>
                    <td>{{ item.fecha }}<td>
                    <td>{{ item.cliente }}<td>
                    <td>{{ item.estado }}<td>
                    <td>{{ item.total }}<td>
                    <td><a href="{% url 'detalle' item.id %}" class="custom-button">Detalle de Compras</a><td> 
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}