{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Suscribete a la fundación</h1>
<section id="suscripcion">
    {% if suscrito %}
        <h3>Felicidades, estas suscrito.</h3>
        <small>Disfruta de los beneficios!</small>
    {% else %}
        <h3>Beneficios por estar suscrito</h3>
        <p>Aprovecha el 5% de descuento que obtienes en el total de tus compras.</p>
        <br>
        <form action="{% url 'suscribir' %}" method="post">
            {% csrf_token %}
            <button type="submit">Suscribete</button>
        </form>
    {% endif %}
</section>
{% endblock %}