/* REGISTRO */

body {
    margin: 0;    
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
    font-family: "Alkatra variant0", Tofu;
}

.contenedor{
    width: 100%;
    padding: 15px;
}

.formulario{
    background: #fff;
    padding: 3px;
    margin-bottom: 40px;
}

h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"]{
    font-size: 20px;
    width: 88.315%;
    padding: 10px;
    border: none;
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background: cadetblue;
}

p{
    text-align: center;
}

.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

.link:hover{
    color: cadetblue;
}

@media(min-width:768px) 
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}

.error{
    background-color: #D9E2E5;
}

#form{
width: 450px;
margin: auto;
margin-top: 20px;}

@media (max-width: 450px){}
input{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    outline: none;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;}

.btn-submit{
    border: none;
    padding: 14px;
    font-weight: 800;}
    .error2{
    background: red;
    padding: 10px;
    border-radius: 7px;}

.correcto{
background: rgb(113, 214, 92);
padding: 10px;
border-radius: 7px;}

.info p{
color: #ccc;
font-size: 12px;
text-align: right;}
